@model YoMateProjectShare.Models.Projects

@{ 
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArticleName" class="custom-control-label"></label>
                <input asp-for="ArticleName" class="form-control" />
                <span asp-validation-for="ArticleName" class="text-danger"></span>
            </div>
            @*<div class="form-group" style="visibility:hidden">
                <label asp-for="AuthorName" class="custom-control-label"></label>
                <input asp-for="AuthorName" class="form-control" value="@User.Identity.Name" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="UploadTime" class="custom-control-label"></label>
                <input asp-for="UploadTime" class="form-control" />
                <span asp-validation-for="UploadTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbstractText" class="custom-control-label"></label>
                <input asp-for="AbstractText" class="form-control" />
                <span asp-validation-for="AbstractText" class="text-danger"></span>
            </div>
            <input asp-for="AuthorName" class="form-control" type="hidden" value="@User.Identity.Name" />
            <span asp-validation-for="AuthorName" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}